<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
            <h1> Accounts: </h1>
            <br/>
            <div class="continer accounts">
                <a  *ngFor="let ba of bankAccount"  [routerLink]="['/account',ba.id]">
                    <div class="module" [class.selected]="selectedAccountID==ba.id" (click)="selectedAccountID=ba.id" >{{ba.alias}}</div>
                </a>
            </div>

            </div>
        </div>

    </div>
    <div class="col-md-9">
        <h1 class="display-4" >Welcome to <strong>My Accounts</strong></h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div  *ngSwitchCase="true">
                <span *ngIf="account" > Welcom <strong>"{{account.login}}" </strong> </span>
                <router-outlet ></router-outlet>
            </div>


            <div class="alert alert-warning" *ngSwitchCase="false">
                <span >Do you want to </span>
                <a class="alert-link" (click)="login()" >sign in</a>?
                <br/>
                <span >Use these credentials for Demo: Login: <a class="alert-link" (click)="login()" >user</a>, Password: <a class="alert-link" (click)="login()" >user</a> </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span >You don't have an bankAccount yet?</span>
                <a class="alert-link" routerLink="register" >Register </a>
            </div>
        </div>
    </div>
</div>
